*{
    
    
}
.card1{
    height: 200px;
    width: 200px;
    overflow: scroll;
    border: 2px solid red;
    margin-left: 20%;
    
    float: left;
    
}
.card2{
    height: 200px;
width: 200px;
    overflow: scroll;
    border: 2px solid yellow;
    margin-right: 20%;
    
    float: right;
    
}
